.nav{
  background: #698474;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 100px;
  padding-left: 5px;
  align-items: stretch;
  // justify-content: space-evenly;
  // padding: 38px;
 
}
.nav2{
  background: #698474;
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 256px;
  padding-left: 5px;
  align-items: stretch;
  // justify-content: space-evenly;
  // padding: 38px;
 
}
.nav a {
  text-align: left;
  // padding: 6px 8px 6px 0px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
  margin: 0px 10px;
}
.nav a:hover {
color: #e5e4cc
}
.social1{
  margin-top: 200px;
}


h1 {
  font-family: 'Pacifico', cursive
}
h3 {
  font-family: 'Lora', serif;
  border-bottom: green($color: #000000);
}