.nav{
  background: rgb(13, 140, 96);
  color: #FFF;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 20%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 30px;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 38px;
 
}
.nav a {
  text-align: center;
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #ffffff;
  display: block;
}
.nav a:hover {
  background: #363636;
}